body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.static-background {
  position: fixed;
  /* Keep it static while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: linear-gradient(135deg, rgb(225, 237, 255) 0%, #ffe3f3 100%);



  z-index: -1;
  /* Push behind all other content */

}

.components-container {
  margin: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  position: relative;
}